In [3]:
import pandas as pd

In [6]:
city_2020 = pd.read_csv(r'CDP_Data\Cities\Cities Responses\2020_Full_Cities_Dataset.csv')

In [277]:
required_columns = ['Account Number', 'Response Answer']

In [430]:
class cdp:
    
    def __init__(self, input_df):
        self.input_df = input_df
        self.all_df = []
    
    def data_return(self, q_num, colnum, required_columns, rownum = None):
        
        input_df = self.input_df
        
        if rownum is not None:
            filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum)) & (input_df['Row Number'] == int(rownum))
        else:
            filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum))
        df = input_df[filt]
        df = df[required_columns]
        newname = list(set(input_df[filt]["Question Name"]))[0]
        newname = newname.split(' ')
        newname = newname[0] + ' ' + newname[1]
        df.rename(columns={'Response Answer': newname}, inplace = True)
        df = df.set_index('Account Number')
        self.all_df.append(df)
        return df
        
    def queries(self, questions, colnums, required_columns, rownums = None):
        
        df_list_temp = []
        if rownums is not None:
            q = list(zip(questions, colnums, rownums))
            for item in q:
                temp = self.data_return(q_num = item[0], colnum = item[1], required_columns = required_columns, rownum = item[2])
                df_list_temp.append(temp)
        else:
            q = list(zip(questions, colnums))
            for item in q:
                temp = self.data_return(q_num = item[0], colnum = item[1], required_columns = required_columns)
                df_list_temp.append(temp)
        return df_list_temp
    
    def combine_df(self):
        
        all_df = self.all_df
        comb_df = all_df[0]
        
        for i in range(1, len(all_df)):
#             comb_df = pd.merge(comb_df, all_df[i], left_index=True, right_index=True, how="outer")
            comb_df = pd.concat([comb_df, all_df[i]], axis=1)

        return comb_df 
            
    def process(self, addtional_columns):
        comb_df = self.combine_df()
        input_df = self.input_df
        input_df_short = input_df[addtional_columns]
        input_df_short = input_df_short.set_index('Account Number')
        final_df = input_df_short.join(comb_df)
        return final_df

In [405]:
input_df = city_2020
q_num = ques1[1]
colnum = cols1[1]
rownum = None

In [69]:
required_columns.append(set(input_df[filt]["Column Name"]))

In [74]:
list(set(input_df[filt]["Column Name"]))[0]

'Land area of the city boundary as defined in question 0.1 (in square km)'

In [411]:
input_df = city_2020
q_num = ques1[6]
colnum = cols1[6]
rownum = None

if rownum is not None:
    filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum)) & (input_df['Row Number'] == int(rownum))
else:
    filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum))
df = input_df[filt]
df = df[required_columns]
newname = list(set(input_df[filt]["Question Name"]))[0]
newname = newname.split(' ')
newname = newname[0] + ' ' + newname[1]
df.rename(columns={'Response Answer': newname}, inplace = True)

In [409]:
ques1[6],  cols1[6]

(8.0, 6)

In [399]:
input_df[filt]["Question Name"]

Series([], Name: Question Name, dtype: object)

In [398]:
list(set(input_df[filt]["Question Name"]))[0]

IndexError: list index out of range

In [421]:
city_object = cdp(city_2020)

In [305]:
temp = city_object.queries(questions, colnums, required_columns, rownums)

In [310]:
len(set(city_2020['Question Number']))

166

In [443]:
pd.concat(city_object.all_df, axis = 1)

ValueError: Shape of passed values is (2816, 11), indices imply (566, 11)

In [454]:
status_df = []
for i in range(len(city_object.all_df)):
    status_df.append(city_object.all_df[i].index.is_unique)

In [455]:
status_df

[True, True, False, False, False, False, False, False, False, True, False]

In [ ]:
len(set(city_2020['Question Number']))

In [323]:
all = list(zip(city_2020['Question Number'], city_2020['Column Number'], city_2020['Row Number']))

In [326]:
all_unique = set(all)

In [327]:
len(all_unique)

13712

In [355]:
question = []
columnumber = []
rownumber = []
for i, response in enumerate(city_2020['Response Answer']):
    try:
        respponse = int(response)
        question.append(city_2020['Question Number'][i])
        columnumber.append(city_2020['Column Number'][i])
        rownumber.append(city_2020['Row Number'][i])
    except:
        pass

In [366]:
len(set(list(zip(question, columnumber, rownumber))))

7727

In [370]:
unique_comb = set(list(zip(question, columnumber, rownumber)))

In [410]:
ques1 = [0.5, 0.6, 3.0, 3.0, 3.0, 6.5, "8.0a", "8.0a", 12.1, 13.0, "14.2a"]
cols1 = [1, 1, 11, 12, 13, 8, 6, 9, 2, 1, 3]


ques2 = ['4.6a', '4.6a', 12.1]
cols2 = [1, 1, 1]
rows2 = [13, 31, 2]

In [431]:
city_object = cdp(city_2020)
addtional_columns = ['Account Number', 'Organization', 'Country', 'CDP Region']

In [432]:
city_object.queries(ques1, cols1, required_columns, rownums = None)

[               Please provide
 Account Number
 50565                  287208
 54108                  271616
 54348                 3112436
 845133                   4120
 59165                   69262
 ...                       ...
 43937                  210400
 59180                   38553
 62791                  106847
 59537                  141541
 63862                   21117

 [566 rows x 1 columns],                Please provide
 Account Number
 50359                 1219.67
 50381                  1947.7
 63862                    17.1
 42384                   44784
 50550                     136
 ...                       ...
 54519                     427
 59644                   13.31
 32480                      16
 847922                   2179
 45219                  121076

 [566 rows x 1 columns],                Please describe
 Account Number
 10495                      NaN
 37261                      NaN
 8242                       NaN
 35853                      NaN
 31176                      NaN
 ...                        ...
 74401                        0
 35886                        0
 839980                     NaN
 31176                      NaN
 60318                      NaN

 [2816 rows x 1 columns],                Please describe
 Account Number
 831999                       0
 31155                      NaN
 31167                      NaN
 58797                      NaN
 843399                     NaN
 ...                        ...
 36285                   120000
 54048                      NaN
 36426                   442000
 54114                      NaN
 43912                      NaN

 [2816 rows x 1 columns],                Please describe
 Account Number
 44210                550000000
 43912                      NaN
 35858                      NaN
 74594                      NaN
 31113                      NaN
 ...                        ...
 35865                      NaN
 54625                        0
 52897                      NaN
 50578                     5000
 74575                 10500000

 [2816 rows x 1 columns],                  List any
 Account Number
 36044                 NaN
 36274            1227.632
 831431            4200000
 36043           114500000
 31108                 NaN
 ...                   ...
 55334            21000000
 840269              17500
 840269                NaN
 58626                 NaN
 17411               10000

 [1322 rows x 1 columns],                          Please provide
 Account Number
 58671                               NaN
 60274           Question not applicable
 68296           Question not applicable
 54617           Question not applicable
 42178           Question not applicable
 ...                                 ...
 60409           Question not applicable
 31174           Question not applicable
 54700           Question not applicable
 50555           Question not applicable
 35475                               NaN

 [660 rows x 1 columns],                          Please provide
 Account Number
 54098                               NaN
 3203                                NaN
 832838          Question not applicable
 59538                                75
 32550                               100
 ...                                 ...
 31051           Question not applicable
 58595           Question not applicable
 826207                              NaN
 62791           Question not applicable
 31179                               NaN

 [660 rows x 1 columns],                                 What is
 Account Number
 54409                              2019
 73725           Question not applicable
 74414                               NaN
 31165                               NaN
 74488                               NaN
 ...                                 ...
 54349           Question not applicable
 60274           Question not applicable
 50551                               NaN
 54667           Question not applicable
 73671           Question not applicable

 [1132 rows x 1 columns],                    What is
 Account Number
 31176              3431680
 50377                  NaN
 36282                  NaN
 73667                14670
 49335           1260261.47
 ...                    ...
 49360              1574367
 31146            919338000
 60229                20935
 69824                19000
 20113               929700

 [566 rows x 1 columns],                   Please identify
 Account Number
 54345                     Serious
 43937                         NaN
 16581                     Serious
 35872           Extremely serious
 58483                     Serious
 ...                           ...
 52897                Less Serious
 54100                     Serious
 31090                     Serious
 832009                    Serious
 59535                     Serious

 [1498 rows x 1 columns]]

In [433]:
city_object.combine_df()

ValueError: Shape of passed values is (2816, 3), indices imply (566, 3)

In [442]:
y

  Please provide
0            240
1            240
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN

In [434]:
all_df = city_object.all_df
comb_df = all_df[0]
for i in range(1, len(all_df)):
#             comb_df = pd.merge(comb_df, all_df[i], left_index=True, right_index=True, how="outer")
    comb_df = pd.concat([comb_df, all_df[i]], axis=1)

ValueError: Shape of passed values is (2816, 3), indices imply (566, 3)

In [436]:
all_df[i]

               Please describe
Account Number
10495                      NaN
37261                      NaN
8242                       NaN
35853                      NaN
31176                      NaN
...                        ...
74401                        0
35886                        0
839980                     NaN
31176                      NaN
60318                      NaN

[2816 rows x 1 columns]

In [424]:
temp_df = city_object.combine_df()

ValueError: columns overlap but no suffix specified: Index(['Please provide'], dtype='object')

In [415]:
df_processed = city_object.process(addtional_columns)

MemoryError: Unable to allocate 34.3 GiB for an array with shape (4606866418,) and data type int64

In [ ]:
city_object = cdp(city_2020)
addtional_columns = ['Account Number', 'Organization', 'Country', 'CDP Region']

In [373]:
question_numeric = []
columns_numeric = []
rows_numeric = []

for item in unique_comb:
    question_numeric.append(item[0])
    columns_numeric.append(item[1])
    rows_numeric.append(item[2])

In [377]:
temp = city_object.queries(question_numeric, columns_numeric, required_columns, rows_numeric)

IndexError: list index out of range

In [340]:
int(list(city_2020['Response Answer'])[-2])

12599

In [347]:
try:
    print(int('1234'))
except:
    print('haha')

1234

In [333]:
enumerate(city_2020['Response Answer'])

In [329]:
city_2020['Response Answer'][10]

'21'

In [307]:
final_df = city_object.process(addtional_columns)

In [308]:
final_df

,Organization,Country,CDP Region,Name of,Please describe
Account Number,,,,,
1184,City of Austin,United States of America,North America,NaN,NaN
1184,City of Austin,United States of America,North America,NaN,NaN
1184,City of Austin,United States of America,North America,NaN,NaN
1184,City of Austin,United States of America,North America,NaN,NaN
1184,City of Austin,United States of America,North America,NaN,NaN
...,...,...,...,...,...
848478,Banyuwangi City,Indonesia,Southeast Asia and Oceania,NaN,NaN
848478,Banyuwangi City,Indonesia,Southeast Asia and Oceania,NaN,NaN
848478,Banyuwangi City,Indonesia,Southeast Asia and Oceania,NaN,NaN
848478,Banyuwangi City,Indonesia,Southeast Asia and Oceania,NaN,NaN
848478,Banyuwangi City,Indonesia,Southeast Asia and Oceania,NaN,NaN

In [284]:
city_2020_short = city_2020[['Account Number', 'Organization', 'Country', 'CDP Region']]
city_2020_short = city_2020_short.set_index('Account Number')

,Organization,Country,CDP Region
Account Number,,,
68296,Hobsons Bay City Council,Australia,Southeast Asia and Oceania
8242,City of Helsinki,Finland,Europe
73301,"City of Gretna, LA",United States of America,North America
54488,Trondheim Municipality,Norway,Europe
54696,XIV Ayuntamiento de La Paz,Mexico,Latin America
...,...,...,...
59678,"City of Evanston, IL",United States of America,North America
31108,City of Houston,United States of America,North America
36477,Comune di Lucca,Italy,Europe
44185,Suwon City,Republic of Korea,East Asia
31182,City of San Francisco,United States of America,North America

In [287]:
city_2020_short.join(final_df)

,Account Number,Organization,Country,CDP Region,Name of,Please describe
0,68296,Hobsons Bay City Council,Australia,Southeast Asia and Oceania,NaN,NaN
1,8242,City of Helsinki,Finland,Europe,NaN,NaN
2,73301,"City of Gretna, LA",United States of America,North America,NaN,NaN
3,54488,Trondheim Municipality,Norway,Europe,NaN,NaN
4,54696,XIV Ayuntamiento de La Paz,Mexico,Latin America,NaN,NaN
...,...,...,...,...,...,...
869308,59678,"City of Evanston, IL",United States of America,North America,NaN,NaN
869309,31108,City of Houston,United States of America,North America,NaN,NaN
869310,36477,Comune di Lucca,Italy,Europe,NaN,NaN
869311,44185,Suwon City,Republic of Korea,East Asia,NaN,NaN
869312,31182,City of San Francisco,United States of America,North America,NaN,NaN

In [ ]:
left.join(right)

In [232]:
questions = [1.2, 1.3]; colnums = [1, 2]; rownums = [2 ,3]

In [163]:
type(questions)

list

In [161]:
list(zip(questions, colnums, rownums))

[(1.2, 1, 2), (1.3, 2, 3)]

In [236]:
len(temp)

2

In [214]:
city_object.combine_df()

IndexError: list index out of range

In [195]:
required_columns

['Account Number', 'Organization', 'Country', 'CDP Region', 'Response Answer']

In [164]:
def data_return(input_df, q_num, colnum, required_columns, rownum = None):
        

    if rownum is not None:
        filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum)) & (input_df['Row Number'] == int(rownum))
    else:
        filt = (input_df['Question Number'] == str(q_num)) & (input_df['Column Number'] == int(colnum))
    df = input_df[filt]
    df = df[required_columns]
    newname = list(set(input_df[filt]["Column Name"]))[0]
    newname = newname.split(' ')
    newname = newname[0] + ' ' + newname[1]
    df.rename(columns={'Response Answer': newname}, inplace = True)

    return df

In [165]:
input_df = city_2020
q_num = 0.6
colnum = 1
rownum = None

In [166]:
data_return(city_2020, q_num, colnum, required_columns, rownum = None)

,Account Number,Organization,Country,CDP Region,Land area
1740,50359,Gobierno Municipal de LeÃ³n de los Aldamas,Mexico,Latin America,1219.67
3797,50381,Municipio de TorreÃ³n,Mexico,Latin America,1947.7
5484,63862,"City of Ashland, OR",United States of America,North America,17.1
6962,42384,GÃ¶teborgs Stad,Sweden,Europe,44784
7702,50550,City of Buffalo,United States of America,North America,136
...,...,...,...,...,...
864080,54519,City of Lund,Sweden,Europe,427
865683,59644,"City of Culver City, CA",United States of America,North America,13.31
866979,32480,City of Adelaide,Australia,Southeast Asia and Oceania,16
868151,847922,Junta Municipal de Medio Ambiente Lagunas (JIMAL),Mexico,Latin America,2179
868283,45219,MunicÃ­pio de Aparecida,Brazil,Latin America,121076

In [173]:
df_list_test = []
if rownums is not None:
    q = list(zip(questions, colnums, rownums))
    for item in q:
        df_list_test.append(data_return(city_2020, q_num = item[0], colnum = item[1], required_columns = required_columns, rownum = item[2]))
else:
    q = list(zip(questions, colnums))
    for item in q:
        df_list_test.append(data_return(city_2020, q_num = item[0], colnum = item[1], required_columns = required_columns))

In [200]:
df_list_test[1].set_index('Account Number')

,Organization,Country,CDP Region,Please describe
Account Number,,,,
54603,Alcaldia de Pasto,Colombia,Latin America,Es importante gestionar recursos (financiero s...
831618,YaoundÃ© 4,Cameroon,Africa,Partenaires de la GCOM
73637,Steve Tshwete,South Africa,Africa,1.Infrastructure planning and maintenance by m...
73295,"City of La Crosse, WI",United States of America,North America,Tax revenue and its application in the operati...
55325,MunicÃ­pio de Ãgueda,Portugal,Europe,DINAMIZAÃ‡ÃƒO DE INICIATIVAS DE MOBILIDADE SUSTE...
36037,Santiago de Cali,Colombia,Latin America,"Plan de desarrollo municipal con enfoque de ""C..."
60339,Prefeitura de Anapolis,Brazil,Latin America,ViabilizaÃ§Ã£o do desenvolvimento econÃ´mico do m...
848408,Municipio de Cajamarca,Colombia,Latin America,"La agricultura tradicional, principal fuente d..."
35873,Municipality of MedellÃ­n,Colombia,Latin America,1. Oportunidad de articular la reactivacion ec...
60409,Municipalidad Provincial de Callao,Peru,Latin America,El nivel de endeudamiento actual de la municip...
826236,Prefeitura de TremembÃ©,Brazil,Latin America,Grandes Ã¡reas de de reflorestamento

In [ ]:
for item in q:
    self.data_return(q_num = q[0], colnum = q[1], rownum = q[2])